<%- include('../partials/header') %> 
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="Southwest">Southwest</option>
        <option value="American">American</option>
        <option value="United">United</option>
      </select>
  </label><br><br>
  <label>Airport:
    <select name="airport">
        <option value="NYC">NYC</option>
        <option value="LAX">LAX</option>
        <option value="CHI">CHI</option>
        <option value="MIA">MIA</option>
        
      </select>
  </label><br><br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br><br>
  <label>Departs:
        <input type="datetime-local" name="departs">
  </label><br><br>
  <input type="submit" value='Add Flight' class='submitBtn'>
</form>
<h1><%= err %></h1>
<%- include('../partials/footer') %>
